 :root{
    box-sizing: border-box;
    font-size: 16px;
}

*,
::after,
::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
    color: black;
}
.nav {

    padding:2em 2em 2em 50%;
    display: flex;
    justify-content: space-around;
}
header{
    background: #FFFFFF;
    box-shadow: 0px 4px 37px rgba(0, 0, 0, 0.2);
}
header img{
    width: 3.68em;
    height: 4.468em;
    display: inline;
}
.nav li{
    font: 2rem #000000 normal "sans-serif";
}
.nav li:active{
    background: linear-gradient(180.61deg, #98D67D 0.45%, #569F36 99.39%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}

.dropdown{
    display: none;
}
header img:nth-of-type(1){
    position: absolute;
    top: 0;
    left:0;
}
header img:nth-of-type(2){
    position: absolute;
    top: 0;
    left: 3em;
    width: 51px;
    height: 72px;
}
header img:nth-of-type(3){
    position: absolute;
    top: 0;
    right:0;
}
header img:nth-of-type(4){
    position: absolute;
    top: 0;
    right: 2.4em;
}





















@media (max-width:800px){
    .nav > li{
        display: none;
    }
    .dropdown {
        display: inline-block;
        position: relative;
    }
    .dropdown__toggle {
        padding: 0.5em 2em 0.5em 1.5 em;
        border: 1px solid #ccc;
        font-size: 2rem;
        background-color: rgb(235, 255, 230);
    }
    .dropdown::after {
        content: "";
        position: absolute;
        right: 2em;
        top: 2em;
        border: 0.3em solid;
        border-color: black transparent transparent;
    }
    .dropdown__drawer {
        font-size: 1.5rem;

        display: none;
        position: absolute;
        left: 0;
        top: 2.1em;
        min-width: 100%;
        background-color: rgb(249, 253, 246);
    }
    .dropdown.is-open .dropdown__toggle::after{
        top: 0.7em;
        border-color: transparent transparent black;
    }
    .dropdown.dropdown.is-open .dropdown__drawer {
        display: block;
    }
}
